:root{
    --main-color: #FFF; 
    --main-color2:#F5F4FA; 
    --logo-color: #000;
    --logo-color2:#2196F3;
    --background-color:#2F303A;
    --text-color:#212121;
--paragraf-color:#757575;
--footertext-color:rgba(255, 255, 255, 0.6);
--outline-color:#EEE;
--line-color: #ECECEC;
--icon-color:#AFB1B8;
--bg-item:rgba(255, 255, 255, 0.10);
}
body{
    font-family: Roboto;
}
.container{
    width: 1200px ;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: solid 1px var(--line-color) ;
}
.header-logo{
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.header-studio{
color: var(--logo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.header-portfolio{
color:var(--logo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.header-contact{
color:var(--logo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.header-email{
color:var(--paragraf-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-mail{
    width: 16px;
        height: 12px;
        fill: var(--paragraf-color);
}
.header-tel{
color:var(--paragraf-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.header-text{
    color:var(--logo-color2);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.active{
    color: var(--logo-color2);
}
.header-studio:hover,
.header-studio:focus{
color: var(--logo-color2);
}
.header-portfolio:hover,
.header-portfolio:focus{
color: var(--logo-color2);
}
.header-contact:hover,
.header-contact-:focus{
color: var(--logo-color2);
}
.header-email:hover,
.header-email:focus{
color: var(--logo-color2);
.header-mail{
    fill: var(--logo-color2);
}
}
.header-tel:hover,
.header-tel:focus{
color: var(--logo-color2);
.header-phone{
    fill: var(--logo-color2);
}
}
.header-phone{
    width: 10px;
        height: 16px;
        fill: var(--paragraf-color);
}
.header-box{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
margin-left: 93px;

}
.header-list{
    display: flex;
    flex-direction: row;
    gap: 50px;

}
.header-contact{
    display: flex;
    margin-left: auto;
    flex-direction: row;
    gap: 50px;
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-color);
    background-image: linear-gradient( rgba(47, 48, 58, 0.40),  rgba(47, 48, 58, 0.40)), url(../img/bg-hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
}
.hero-box{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}
.hero-title{
    width: 696px;
    color:var(--main-color2);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    flex-wrap: wrap;
    margin: 0 auto;
}
.hero-button{
    display: flex;
border-radius: 4px;
background:var(--logo-color2);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: var(--main-color);
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
padding: 10px 32px 10px 32px;
margin: 0 auto;
}
.advantages-box{
    display: flex;
    gap: 30px;
}
.advantages{
    padding-top: 94px;
    padding-bottom: 118px;
}
.advantages-list{
    display: flex;

    flex-direction: row;
    gap: 30px;
}
.advantages-item::before{
    content: "";
    background: url(../img/antenna.webp) var(--main-color2) center no-repeat;
    width: 270px;
    height: 120px;
    display: block;
    background-size: 70px 70px;
    margin-bottom: 30px;
}
.advantages-item:nth-child(2):before{
    background: url(../img/clock.webp) var(--main-color2) center no-repeat;
}
.advantages-item:nth-child(3):before{
    background: url(../img/diagram.webp) var(--main-color2) center no-repeat;
}
.advantages-item:nth-child(4):before{
    background: url(../img/astronaut.webp) var(--main-color2) center no-repeat;
}
.advantages-subtitle{
color:var(--text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}
.advantages-paragraf{
width: 270px;
color:var(--paragraf-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.employment{
    padding-bottom: 94px;
}
.employment-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.employment-item{
    flex-basis: calc((100% - 60px) / 3);
}
.employment-subtitle{
    color:var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px; 
    margin: 0 auto;
    margin-bottom: 50px;
}
.command{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--main-color2);

}
.command-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.command-text{
    padding-top: 30px;
    margin-bottom: 16px;
}
.command-item{
background-color: var(--main-color);
border-radius: 0px 0px 4px 4px;
flex-basis: calc((100% - 90px) / 4);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.command-img{
    /* width: 270px; */
    justify-content: space-around;
}
.command-subtitle{
color:var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.command-name{
color: var(--text-color);
text-align: center;
font-size: 16px;
line-height: 1.18;
font-weight: 500;
letter-spacing: 0.48px;
margin-bottom: 10px;
}
.command-paragraf{
color:var(--paragraf-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
}
.command-icon{
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
}
.command-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
}
.command-link:hover,
.command-link:focus{
background-color: var(--logo-color2);
.command-icon{
    fill: var(--main-color);
}
}
.command-lists{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom:30px ;
}
.client{
    padding: 94px 0;
}
.client-title{
    color: var(--text-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
}
.client-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.client-icon{
    width: 106px;
        height: 60px;
        fill: var(--icon-color);
}
.client-link{

    width: 170px;
        height: 92px;
    border-radius: 4px;
        border: 1px solid var(--icon-color);
    padding: 16px 32px;

}
.client-link:hover,
.client-link:focus{
    border:1px solid var(--logo-color2);
    .client-icon{
        fill: var(--logo-color2);
    }
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
}

.footer-logo{
    color: var(--main-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.address{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 9px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 9px;

}
.footer-address{
color:var(--main-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-email{
color:var(--footertext-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-tel{
color:var(--footertext-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-title{
    color: var(--main-color);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
}
.footer-icon{
    width: 20px;
        height: 20px;
        fill: var(--main-color);
}
.footer-lists{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.footer-link{
    width: 44px;
    height: 44px;
    background-color:var(--bg-item) ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-link:hover,
.footer-link:focus{
    background-color: var(--logo-color2);
}
.footer-box{
    display: flex;
    gap: 70px;
    align-items: baseline;
    justify-content: start;
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.portfolio-name{
color: var(--text-color);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 2; /* 200% */
letter-spacing: 1.08px;
}
.portfolio-paragraf{
color:var(--paragraf-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}
.portfolio-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.portfolio-button{
    display: flex;
    border-radius: 4px;
    background:var(--main-color2);
    color:var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px; 
padding: 6px 22px 6px 22px;
}
.portfolio-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-item{
    outline: 1px solid var(--outline-color);
    flex-basis: calc((100% - 60px) / 3);
}
.portfolio-item:hover,
.portfolio-item:focus{
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.portfolio-card{
    display: flex;
    background-color: var(--main-color);
    padding: 20px 24px 20px 24px;
    flex-direction: column;
    gap: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus{
border-radius: 4px;
background:var(--logo-color2);
/* shadow-middle */
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
color:var(--main-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
}
