:root{
    --main-color: #FFF; 
    --main-color2:#F5F4FA; 
    --logo-color: #000;
    --logo-color2:#2196F3;
    --background-color:#2F303A;
    --text-color:#212121;
--paragraf-color:#757575;
--footertext-color:rgba(255, 255, 255, 0.6);
--outline-color:#EEE;
--line-color: #ECECEC;
--icon-color:#AFB1B8;
--bg-item:rgba(255, 255, 255, 0.10);
--bg-img:rgba(47, 48, 58, 0.80);
--email-color:rgba(255, 255, 255, 0.30);
--input-color:rgba(255, 255, 255, 0.60);
--modal-bg:rgba(0, 0, 0, 0.20);
--modal-line:rgba(0, 0, 0, 0.10);
--border-color:rgba(33, 33, 33, 0.20);
--hover-color:#188CE8;
--comment-color:rgba(117, 117, 117, 0.50);
--portfolio-color:rgba(33, 150, 243, 0.90);
}
body{
    font-family: Roboto;
}
.container{
    width: 1200px ;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}
.header{
    background-color: var(--main-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: solid 1px var(--line-color) ;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.header-logo{
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.header-studio{
color: var(--logo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-portfolio{
color:var(--logo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact{
color:var(--logo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-email{
color:var(--paragraf-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail{
    width: 16px;
        height: 12px;
        fill: var(--paragraf-color);
            transition-property: fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel{
color:var(--paragraf-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-text{
    color:var(--logo-color2);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.active{
    position: relative;
    color: var(--logo-color2);
}
.active::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--logo-color2);
    border-radius: 2px;
    position: absolute;
bottom: -35px;
left: 0;
}
.header-phone {
    width: 10px;
    height: 16px;
    fill: var(--paragraf-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-studio:hover,
.header-studio:focus{
color: var(--logo-color2);
}
.header-portfolio:hover,
.header-portfolio:focus{
color: var(--logo-color2);
}
.header-contact:hover,
.header-contact-:focus{
color: var(--logo-color2);
}
.header-email:hover,
.header-email:focus{
color: var(--logo-color2);
.header-mail{
    fill: var(--logo-color2);
}
}
.header-tel:hover,
.header-tel:focus{
color: var(--logo-color2);
.header-phone{
    fill: var(--logo-color2);
}
}
.header-box{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
margin-left: 93px;

}
.header-list{
    display: flex;
    flex-direction: row;
    gap: 50px;

}
.header-contact{
    display: flex;
    margin-left: auto;
    flex-direction: row;
    gap: 50px;
}
.main{
    padding-top: 86px;
}
.main-portfolio{
    padding-top: 86px;
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-color);
    background-image: linear-gradient( rgba(47, 48, 58, 0.40),  rgba(47, 48, 58, 0.40)), url(../img/bg-hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
}
.hero-box{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}


.hero-title{
    width: 696px;
    color:var(--main-color2);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    flex-wrap: wrap;
    margin: 0 auto;
}
.hero-button{
    display: flex;
border-radius: 4px;
background:var(--logo-color2);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: var(--main-color);
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
padding: 10px 32px 10px 32px;
margin: 0 auto;
}
.advantages-box{
    display: flex;
    gap: 30px;
}
.advantages{
    padding-top: 94px;
    padding-bottom: 118px;
}
.advantages-list{
    display: flex;

    flex-direction: row;
    gap: 30px;
}
.advantages-item::before{
    content: "";
    background: url(../img/antenna.webp) var(--main-color2) center no-repeat;
    width: 270px;
    height: 120px;
    display: block;
    background-size: 70px 70px;
    margin-bottom: 30px;
}
.advantages-item:nth-child(2):before{
    background: url(../img/clock.webp) var(--main-color2) center no-repeat;
}
.advantages-item:nth-child(3):before{
    background: url(../img/diagram.webp) var(--main-color2) center no-repeat;
}
.advantages-item:nth-child(4):before{
    background: url(../img/astronaut.webp) var(--main-color2) center no-repeat;
}
.advantages-subtitle{
color:var(--text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}
.advantages-paragraf{
width: 270px;
color:var(--paragraf-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.employment{
    padding-bottom: 94px;
}
.employment-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.employment-item{
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
}
.employment-title{
    color:var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px; 
    margin: 0 auto;
    margin-bottom: 50px;
}
.employment-subtitle{
    padding: 27px 0;
    color: var(--main-color);
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        background-color: var(--bg-img);
        width: 100%;
    position: absolute;
    bottom: 0;
}

.command{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--main-color2);

}
.command-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.command-text{
    padding-top: 30px;
    padding-bottom: 30px;
}
.command-item{
background-color: var(--main-color);
border-radius: 0px 0px 4px 4px;
flex-basis: calc((100% - 90px) / 4);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.command-img{
    /* width: 270px; */
    justify-content: space-around;
}
.command-subtitle{
color:var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.command-name{
color: var(--text-color);
text-align: center;
font-size: 16px;
line-height: 1.18;
font-weight: 500;
letter-spacing: 0.48px;
margin-bottom: 10px;
}
.command-paragraf{
color:var(--paragraf-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
}
.command-icon{
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
            transition-property: fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.command-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
            transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.command-link:hover,
.command-link:focus{
background-color: var(--logo-color2);
.command-icon{
    fill: var(--main-color);
}
}
.command-lists{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}
.client{
    padding: 94px 0;
}
.client-title{
    color: var(--text-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
}
.client-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.client-icon{
    width: 106px;
        height: 60px;
        fill: var(--icon-color);
        transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link{

    width: 170px;
        height: 92px;
    border-radius: 4px;
        border: 1px solid var(--icon-color);
    padding: 16px 32px;
            transition-property: border;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.client-link:hover,
.client-link:focus{
    border:1px solid var(--logo-color2);
    .client-icon{
        fill: var(--logo-color2);
    }
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
}

.footer-logo{
    color: var(--main-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.address{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 9px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 9px;

}
.footer-address{
color:var(--main-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-email{
color:var(--footertext-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-tel{
color:var(--footertext-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-title{
    color: var(--main-color);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
}
.footer-icon{
    width: 20px;
        height: 20px;
        fill: var(--main-color);
}
.footer-lists{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.footer-link{
    width: 44px;
    height: 44px;
    background-color:var(--bg-item) ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
            transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus{
    background-color: var(--logo-color2);
}
.footer-box{
    display: flex;
    align-items: baseline;
    justify-content: start;
}
.footer-box2{
    margin-left: 70px;
        margin-right: auto;
}
.footer-form{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 12px;
}
.footer-label{
    color: var(--main-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.footer-input{
    width: 358px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--email-color) ; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 16px;
    margin-top: 20px;
    color: var(--input-color) ;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        /* 125% */
        letter-spacing: 0.48px;
}
.footer-btn{
    border-radius: 4px;
        background-color: var(--logo-color2);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-color);
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        /* 187.5% */
        letter-spacing: 0.96px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 28px;
}
.footer-icons{
    width: 24px;
        height: 24px;
        fill: var(--main-color);
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.portfolio-name{
color: var(--text-color);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 2; /* 200% */
letter-spacing: 1.08px;
}
.portfolio-paragraf{
color:var(--paragraf-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}
.portfolio-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.portfolio-button{
    display: flex;
    border-radius: 4px;
    background:var(--main-color2);
    color:var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px; 
padding: 6px 22px 6px 22px;
transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-item{
    outline: 1px solid var(--outline-color);
    flex-basis: calc((100% - 60px) / 3);
    transition-property:box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.portfolio-subtitle {
    padding: 63px 24px;
    background-color: var(--portfolio-color);
    color: var(--main-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55556;
    /* 155.556% */
    letter-spacing: 0.54px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

        transition-property:transform, opacity;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(294px);

}
.portfolio-item:hover,
.portfolio-item:focus{

        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
.portfolio-subtitle{
    transform: translateY(0);
    opacity: 1;
}
}
.portfolio-card{
    display: flex;
    background-color: var(--main-color);
    padding: 20px 24px 20px 24px;
    flex-direction: column;
    gap: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus{
border-radius: 4px;
background:var(--logo-color2);
/* shadow-middle */
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
color:var(--main-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
}
.backdrop{
    background-color: var(--modal-bg);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        opacity: 1;
        z-index: 2;
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.is-hidden .modal{
    transform:scale(-3) translate(0) rotate(-1920deg);
}
.modal{
    background-color: var(--main-color);
        width: 528px;
        border-radius: 4px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        z-index: 2;
                    transition-property: transform;
                        transition-duration: 250ms;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title{
    color: var(--text-color);
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: 0.6px;
        margin-bottom: 12px;
}
.modal-label{
    color: var(--paragraf-color);
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
}
.modal-close{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 6px; */
    background-color: transparent;
    border: 1px solid var(--modal-line);
    border-radius: 100px ;
    position: absolute;
    top: 8px;
    right: 8px;
}
.modal-icons {
    width: 18px;
    height: 18px;
    fill: var(--logo-color);
            transition-property: fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:is(:hover,:focus){
    .modal-icons{
        fill: var(--logo-color2);
    }
}
.modal-text {
    position: relative;
}
.modal-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 12px;
    fill: var(--text-color);
            transition-property: fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input{
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 12px 0 12px 42px;
    margin-top: 4px;
    margin-bottom: 10px;
            transition-property: border;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment{
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 12px 16px;
    color:var(--comment-color) ;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.12px;
    margin-top: 4px;
    resize: none;
        transition-property: border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:is(:hover,:focus){
    border:1px solid var(--logo-color2) ;
}
.modal-input:is(:hover,:focus){
    border: 1px solid var(--logo-color2) ;
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
    fill: var(--logo-color2);
}
.modal-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.modal-labels{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--paragraf-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}
.modal-box{
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        margin-right: 8px;
}
.modal-link{
    color: var(--logo-color2);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
}
.modal-check{
    appearance: none;
    width: 16px;
        height: 15px;
        border-radius: 3px;
        border: 2px solid var(--text-color);
}
.modal-check:checked{
    border: 2px solid var(--logo-color2);
    background-color: var(--logo-color2);
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.modal-button{
    border-radius: 4px;
        background-color: var(--logo-color2);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--main-color);
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.87;
            /* 187.5% */
            letter-spacing: 0.96px;
            padding: 10px 52px;
                    transition-property: background-color;
                        transition-duration: 250ms;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:is(:hover,:focus){
    background-color: var(--hover-color);
}
