.advantages {
  padding-top: 94px;
  padding-bottom: 118px;

  &__box {
    display: flex;
    gap: 30px;
  }

  &__list {
    display: flex;

    flex-direction: row;
    gap: 30px;
  }

  &__item {
    &::before {
      content: "";
      background: url(../img/antenna.webp) $main-color2 center no-repeat;
      width: 270px;
      height: 120px;
      display: block;
      background-size: 70px 70px;
      margin-bottom: 30px;
    }

    &:nth-child(2):before {
      background: url(../img/clock.webp) $main-color2 center no-repeat;
    }

    &:nth-child(3):before {
      background: url(../img/diagram.webp) $main-color2 center no-repeat;
    }

    &:nth-child(4):before {
      background: url(../img/astronaut.webp) $main-color2 center no-repeat;
    }
  }

  &__subtitle {
    color: $text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__paragraf {
    width: 270px;
    color: $paragraf-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
  }
}
