.employment {
  padding-bottom: 94px;

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__list {
    // display: flex;
        @include flexible ();
    gap: 30px;
    // flex-wrap: wrap;
  }

  &__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
  }

  &__subtitle {
    padding: 27px 0;
    color: $main-color;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background-color: $bg-img;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
