.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $background-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg-hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width:768px) {

  }
  
    @media screen and (min-width:1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }

  &__box {
    // display: flex;
    text-align: center;
    // flex-direction: column;
        @include flexible ($direction:column);
    gap: 30px;
  }

  &__title {
  color: $main-color2;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    animation-name: title-move;
    animation-duration: 2000ms;
  
    @media screen and (min-width: 768px) {
      width: 360px;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      letter-spacing: 2.64px;
      width: 696px;
    }
  }

  &__button {
    // display: flex;
        @include flexible ();
    // border-radius: 4px;
    // background: $logo-color2;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    // color: $main-color;
    // font-size: 16px;
    // font-weight: 700;
    // line-height: 1.87;
    @include button ();
    /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 32px 10px 32px;
    margin: 0 auto;
  }
}




$thems:(
primary:rgb(0, 0, 255),
succes:rgb(0, 255, 0),
danger:rgb(255, 0, 0)
);

@each $name, $color in $thems{
.btn__#{$name} {
  background-color: $color;
}
}
