ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
}

input,
textarea:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

body {
  font-family: Roboto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ECECEC;
  position: fixed;
  z-index: 1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__logo {
  color: #000;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__text {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196F3;
}
.header__contact {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
}
.header__email {
  color: #757575;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__email:hover, .header__email:focus {
  color: #2196F3;
}
.header__email:hover .header__mail, .header__email:focus .header__mail {
  fill: #2196F3;
}
@media screen and (min-width: 1200px) {
  .header__email {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.header__mail {
  width: 16px;
  height: 12px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__tel {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__tel:hover, .header__tel:focus {
  color: #2196F3;
}
.header__tel:hover .header__phone, .header__tel:focus .header__phone {
  fill: #2196F3;
}
.header__phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  position: relative;
  color: #2196F3;
  animation-name: move-logo;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* @keyframes move-logo{
    0%{
        transform: rotateZ(45deg);
    }
    12.5%{
        transform: rotateZ(22.5deg);
    }
    25%{
                transform: rotateZ(0);
    }
    37.5%{
        transform: rotateZ(-22.5deg);
    }
    50%{
transform: rotateZ(-45deg);
    }
} */
.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  bottom: -35px;
  left: 0;
}

.hero {
  padding-top: 204px;
  padding-bottom: 118px;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 286px;
    padding-bottom: 200px;
  }
}
.hero__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.hero__title {
  color: #F5F4FA;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  animation-name: title-move;
  animation-duration: 2000ms;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 32px 10px 32px;
  margin: 0 auto;
}

.btn__primary {
  background-color: rgb(0, 0, 255);
}

.btn__succes {
  background-color: rgb(0, 255, 0);
}

.btn__danger {
  background-color: rgb(255, 0, 0);
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 118px;
  }
}
.advantages__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.advantages__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 2);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.advantages__item::before {
  content: "";
  background: url(../img/antenna.webp) #F5F4FA center no-repeat;
  width: 100%;
  height: 120px;
  display: block;
  background-size: 70px 70px;
  margin-bottom: 30px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .advantages__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item::before {
    width: 270px;
  }
}
.advantages__item:nth-child(2):before {
  background: url(../img/clock.webp) #F5F4FA center no-repeat;
}
.advantages__item:nth-child(3):before {
  background: url(../img/diagram.webp) #F5F4FA center no-repeat;
}
.advantages__item:nth-child(4):before {
  background: url(../img/astronaut.webp) #F5F4FA center no-repeat;
}
.advantages__subtitle {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages__paragraf {
  width: 270px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.employment {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .employment {
    display: block;
  }
}
.employment__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.employment__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.employment__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}
.employment__subtitle {
  padding: 27px 0;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.command {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.command__subtitle {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.command__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.command__item {
  background-color: #FFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .command__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .command__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.command__img {
  /* width: 270px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.command__text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command__name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.command__paragraf {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
.command__lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 16px;
}
.command__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.command__link:hover, .command__link:focus {
  background-color: #2196F3;
}
.command__link:hover .command__icon, .command__link:focus .command__icon {
  fill: #FFF;
}
.command__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .client {
    padding: 94px 0;
  }
}
.client__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.client__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}
.client__item {
  flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.client__link {
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
    padding: 16px 32px;
  }
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    justify-content: start;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0;
  }
}
.footer__contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__contain {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 70px;
  }
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0;
  }
}
.footer__logo {
  color: #FFF;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.footer__text {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__addresses {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 9px;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 9px;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.footer__address {
  width: 231px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box2 {
    margin-right: 97px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.footer__title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__lists {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.footer__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  background-color: #2196F3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #FFF;
}
.footer__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .footer__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    justify-content: stretch;
    align-items: end;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.footer__label {
  width: 100%;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__label {
    width: 358px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.footer__input {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  margin-top: 20px;
  color: var(--input-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  /* 125% */
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__btn {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.96px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  padding: 10px 28px;
}
.footer__icons {
  width: 24px;
  height: 24px;
  fill: #FFF;
}

.portfolio {
  padding-top: 180px;
  padding-bottom: 94px;
  display: flex;
}
.portfolio__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 4px;
  background: #F5F4FA;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  /* 162.5% */
  letter-spacing: 0.48px;
  padding: 6px 22px 6px 22px;
  transition-property: background-color color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  border-radius: 4px;
  background: #2196F3;
  /* shadow-middle */
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  /* 162.5% */
  letter-spacing: 0.48px;
}
.portfolio__projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.portfolio__item {
  outline: 1px solid #EEE;
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.portfolio__item:hover .portfolio__subtitle, .portfolio__item:focus .portfolio__subtitle {
  transform: translateY(0px);
  opacity: 1;
}
.portfolio__text {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.portfolio__subtitle {
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55556;
  /* 155.556% */
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(294px);
}
.portfolio__card {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #FFF;
  padding: 20px 24px 20px 24px;
  gap: 4px;
}
.portfolio__name {
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  /* 200% */
  letter-spacing: 1.08px;
}
.portfolio__paragraf {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.48px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
        justify-content: center;
        align-items: center; */
  opacity: 1;
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: scale(-3) translate(0) rotate(-1920deg);
}

.modal {
  background-color: #FFF;
  width: 528px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  z-index: 2;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* padding: 6px; */
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__close:is(:hover, :focus) .modal__icons {
  fill: #2196F3;
}
.modal__icons {
  width: 18px;
  height: 18px;
  fill: #000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
}
.modal__text {
  position: relative;
}
.modal__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 0 12px 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:is(:hover, :focus) {
  border: 1px solid #2196F3;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196F3;
}
.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  margin-top: 4px;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:is(:hover, :focus) {
  border: 1px solid #2196F3;
}
.modal__end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}
.modal__labels {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.modal__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 7px;
  margin-right: 8px;
}
.modal__check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #212121;
}
.modal__check:checked {
  border: 2px solid #2196F3;
  background-color: #2196F3;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modal__link {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.modal__button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 52px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:is(:hover, :focus) {
  background-color: #188CE8;
}/*# sourceMappingURL=main.css.map */