    $main-color: #FFF;
    $main-color2: #F5F4FA;
    $logo-color: #000;
    $logo-color2: #2196F3;
    $background-color: #2F303A;
    $text-color: #212121;
    $paragraf-color: #757575;
    $footertext-color: rgba(255, 255, 255, 0.6);
    $outline-color: #EEE;
    $line-color: #ECECEC;
    $icon-color: #AFB1B8;
    $bg-item: rgba(255, 255, 255, 0.10);
    $bg-img: rgba(47, 48, 58, 0.80);
    $email-color: rgba(255, 255, 255, 0.30);
    $input-color: rgba(255, 255, 255, 0.60);
    $modal-bg: rgba(0, 0, 0, 0.20);
    $modal-line: rgba(0, 0, 0, 0.10);
    $border-color: rgba(33, 33, 33, 0.20);
    $hover-color: #188CE8;
    $comment-color: rgba(117, 117, 117, 0.50);
    $portfolio-color: rgba(33, 150, 243, 0.90);
